[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Arthur Malumian
	email = amalumian@outlook.com
[core]
	excludesfile = /Users/amalumian/.gitignore_global
	editor = nvim
[init]
	defaultBranch = main
